/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


// mixins
@function rem($size) {
    @return $size / 16 + rem;
}
@function em($size) {
    @return $size / 16 + em;
}


// templates
@media screen and (min-width: 1024px) {
        
}
@media screen and (min-width: 768px) and (max-width: 1023px) {

}
@media screen and (min-width: 480px) and (max-width: 767px) {
        
}
@media screen and (max-width: 479px) {

}
  


/* style reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;

}
body {
	line-height: 1;
}
main {
    flex-grow: 1;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}


/* custom */
body {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgb(255,255,255);
	background: rgb(33,16,107);
	background: linear-gradient(90deg, rgba(33,16,107,1) 9%, rgba(81,25,209,0.9740634005763689) 100%);
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
}
a {
	color: white; 
}
  
a:visited {
	color: white; 
}
  
a:hover {
	color: white; 
}
  
a:active {
	color: white; 
}

.wrapper {
}
.header {

// .header__container

    &__container {
		margin: 0 auto 80px;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: space-between;
		padding: 20px 30px;
		max-width: 1500px;
	}
	// .header__title
	&__title {
		font-size: 2rem;
		letter-spacing: 1.5px;
		font-weight: 700;
		text-align: center;
	}
	// .header__main-link
	&__main-link {
		align-self: center;
		transition: 0.13s;
		font-weight: 500;
		letter-spacing: 1.1px;
		> a{
			background-color: rgb(66, 41, 132);
			border-radius: 5px;
			border-bottom: 6px solid #2d0159;
			padding: 10px 20px;
		}
		&:hover > a {
			background-color: rgb(56, 35, 114);
			border-bottom: 4px solid #2d0159;
			color: rgba(255, 255, 255, 0.845);
		}
		&:hover {
			transform: translate(0, 2px);
		}
	}
	@media screen and (max-width: 767px) {
		&__container {
			justify-content: center;
			padding: 20px 15px;
			gap: 35px;
		}
		&__title {
			flex: 1 1 100%;
		}
	}
}
.main {

	// .main__container

	&__container {
		margin: 0 auto;
		display: flex;
		gap: 20px;
		justify-content: space-between;
		padding: 20px 30px;
		max-width: 1500px;
	}
	
	// .main__animation
	&__animation {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
		max-width: 700px;
	}
	&__title {
		font-weight: 500;
		font-size: 1.7rem;
		align-self: center;
		text-align: center;
		margin: 0 0 30px 0;
	}
	// .main__exhibition
	&__exhibition {
		display: flex;
		justify-content: center;
		gap: 30px;
	}

	// .main__first-car
	&__first-car {
		display: flex;
		flex-direction: column;
	}
	// .main__second-car
	&__second-car {
		display: flex;
		flex-direction: column;
	}

	// .main__car
	&__car {
		height: 35px;
	}
	&__car-text
	{
		letter-spacing: 1.2px;
		font-weight: 600;
		text-transform: uppercase;
		border-bottom: 3px solid rgb(247, 57, 212);
		margin: 0 0 3px;
	}

	// .main__race
	&__race {
		display: flex;
		justify-content: center;
		margin: 0 0 25px 0;
		position: relative;
		z-index: -1;
		> img {
			height: 300px;
		}
		> span {
			display: none;
			position: absolute;
			top: 50%;
			left: 50%;
			font-weight: 500;
			background-image: url(../img/main/trophy.svg);
			background-repeat: no-repeat;
			background-size: contain;
			padding: 0 0 0 20px;
			transform-origin: center;
			transform: translate(-50%, -50%);
			animation-name: showing;
			animation-duration: 2s;
			@keyframes showing {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
		}
	}

	// .main__button

	&__button {
		background-color: rgb(91, 244, 208);
		height: 50px;
		width: 200px;
		border-radius: 5px;
		align-self: center;
		letter-spacing: 1.2px;
		color: rgb(18, 0, 80);
		font-weight: 500;
		text-transform: uppercase;
		transition: 0.3s;
		&:hover {
			background-color: rgb(79, 215, 183);
			color: rgb(255, 255, 255);
		}
	}
	@media screen and (min-width: 480px) and (max-width: 620px) {
        &__container {
			padding: 20px 30px;
		}
		
		// .main__car
		&__car {
			height: 25px;
		}

		// .main__race	
		&__race {
			> img {
				height: 250px;
			}
			> span {
				background-size: 20px;
				transform: translate(-50%, -50%);
			}
		}
	}
	@media screen and (max-width: 479px) {
		&__container {
			padding: 20px 10px;
		}
		
		// .main__car
		&__car {
			height: 20px;
		}

		// .main__race	
		&__race {
			> img {
				height: 180px;
			}
			> span {
				font-size: 0.7rem;
				background-size: 15px;
				transform: translate(-50%, -50%);
			}
		}
	}
}
.fastcar-move {
	animation-name: fastcar;
	animation-duration: 10s;
	animation-timing-function: linear;
	@keyframes fastcar {
		4% {
			transform: translate(50px, 40px);
		}
		9% {
			transform: translate(50px, 40px);
		}
		11% {
			transform: translate(180px, 45px);
		}
		12% {
			transform: translate(260px, 160px);
		}
		13% {
			transform: translate(180px, 285px);
		}
		14% {
			transform: translate(-100px, 285px);
		}
		15% {
			transform: translate(-170px, 160px);
		}
		16% {
			transform: translate(-100px, 40px);
		}
		17% {
			transform: translate(180px, 45px);
		}
		18% {
			transform: translate(260px, 160px);
		}
		19% {
			transform: translate(180px, 285px);
		}
		20% {
			transform: translate(-100px, 285px);
		}
		21% {
			transform: translate(-170px, 160px);
		}
		22% {
			transform: translate(-100px, 40px);
		}
		23% {
			transform: translate(180px, 45px);
		}
		24% {
			transform: translate(260px, 160px);
		}
		25% {
			transform: translate(180px, 285px);
		}
		26% {
			transform: translate(-100px, 285px);
		}
		27% {
			transform: translate(-170px, 160px);
		}
		28% {
			transform: translate(-100px, 40px);
		}
		29% {
			transform: translate(180px, 45px);
		}
		30% {
			transform: translate(260px, 160px);
		}
		31% {
			transform: translate(180px, 285px);
		}
		32% {
			transform: translate(-100px, 285px);
		}
		33% {
			transform: translate(-170px, 160px);
		}
		34% {
			transform: translate(-100px, 40px);
		}
		35% {
			transform: translate(180px, 45px);
		}
		36% {
			transform: translate(260px, 160px);
		}
		37% {
			transform: translate(180px, 285px);
		}
		38% {
			transform: translate(-100px, 285px);
		}
		39% {
			transform: translate(-170px, 160px);
		}
		40% {
			transform: translate(-100px, 40px);
		}
		41% {
			transform: translate(180px, 45px);
		}
		42% {
			transform: translate(260px, 160px);
		}
		43% {
			transform: translate(180px, 285px);
		}
		44% {
			transform: translate(-100px, 285px);
		}
		45% {
			transform: translate(-170px, 160px);
		}
		46% {
			transform: translate(-100px, 40px);
		}
		47% {
			transform: translate(180px, 45px);
		}
		48% {
			transform: translate(260px, 160px);
		}
		49% {
			transform: translate(180px, 285px);
		}
		50% {
			transform: translate(-100px, 285px);
		}
		51% {
			transform: translate(-170px, 160px);
		}
		52% {
			transform: translate(-100px, 40px);
		}
		53% {
			transform: translate(180px, 45px);
		}
		54% {
			transform: translate(260px, 160px);
		}
		55% {
			transform: translate(180px, 285px);
		}
		56% {
			transform: translate(-100px, 285px);
		}
		57% {
			transform: translate(-170px, 160px);
		}
		58% {
			transform: translate(-100px, 40px);
		}
		59% {
			transform: translate(180px, 45px);
		}
		60% {
			transform: translate(260px, 160px);
		}
		61% {
			transform: translate(180px, 285px);
		}
		62% {
			transform: translate(-100px, 285px);
		}
		63% {
			transform: translate(-170px, 160px);
		}
		64% {
			transform: translate(-100px, 40px);
		}
		65% {
			transform: translate(180px, 45px);
		}
		66% {
			transform: translate(260px, 160px);
		}
		67% {
			transform: translate(180px, 285px);
		}
		68% {
			transform: translate(-100px, 285px);
		}
		69% {
			transform: translate(-170px, 160px);
		}
		70% {
			transform: translate(-100px, 40px);
		}
		71% {
			transform: translate(180px, 45px);
		}
		72% {
			transform: translate(260px, 160px);
		}
		73% {
			transform: translate(180px, 285px);
		}
		74% {
			transform: translate(-100px, 285px);
		}
		75% {
			transform: translate(-170px, 160px);
		}
		76% {
			transform: translate(-100px, 40px);
		}
		77% {
			transform: translate(180px, 45px);
		}
		78% {
			transform: translate(260px, 160px);
		}
		79% {
			transform: translate(180px, 285px);
		}
		80% {
			transform: translate(-100px, 285px);
		}
		81% {
			transform: translate(-170px, 160px);
		}
		82% {
			transform: translate(-100px, 40px);
		}
		83% {
			transform: translate(180px, 45px);
		}
		84% {
			transform: translate(260px, 160px);
		}
		85% {
			transform: translate(180px, 285px);
		}
		86% {
			transform: translate(-100px, 285px);
		}
		87% {
			transform: translate(-170px, 160px);
		}
		88% {
			transform: translate(-100px, 40px);
		}
		92% {
			transform: translate(50px, 40px);
		}
		97% {
			transform: translate(50px, 40px);
		}
		100% {
			transform: translateX(0px);
		}
	}
	@media screen and (min-width: 480px) and (max-width: 620px) {
		@keyframes fastcar {
			4% {
				transform: translate(48px, 40px);
			}
			9% {
				transform: translate(48px, 40px);
			}
			11% {
				transform: translate(175px, 35px);
			}
			12% {
				transform: translate(220px, 140px);
			}
			13% {
				transform: translate(180px, 230px);
			}
			14% {
				transform: translate(-90px, 230px);
			}
			15% {
				transform: translate(-135px, 140px);
			}
			16% {
				transform: translate(-70px, 40px);
			}
			17% {
				transform: translate(175px, 35px);
			}
			18% {
				transform: translate(220px, 140px);
			}
			19% {
				transform: translate(180px, 230px);
			}
			20% {
				transform: translate(-90px, 230px);
			}
			21% {
				transform: translate(-135px, 140px);
			}
			22% {
				transform: translate(-70px, 40px);
			}
			23% {
				transform: translate(175px, 35px);
			}
			24% {
				transform: translate(220px, 140px);
			}
			25% {
				transform: translate(180px, 230px);
			}
			26% {
				transform: translate(-90px, 230px);
			}
			27% {
				transform: translate(-135px, 140px);
			}
			28% {
				transform: translate(-70px, 40px);
			}
			29% {
				transform: translate(175px, 35px);
			}
			30% {
				transform: translate(220px, 140px);
			}
			31% {
				transform: translate(180px, 230px);
			}
			32% {
				transform: translate(-90px, 230px);
			}
			33% {
				transform: translate(-135px, 140px);
			}
			34% {
				transform: translate(-70px, 40px);
			}
			35% {
				transform: translate(175px, 35px);
			}
			36% {
				transform: translate(220px, 140px);
			}
			37% {
				transform: translate(180px, 230px);
			}
			38% {
				transform: translate(-90px, 230px);
			}
			39% {
				transform: translate(-135px, 140px);
			}
			40% {
				transform: translate(-70px, 40px);
			}
			41% {
				transform: translate(175px, 35px);
			}
			42% {
				transform: translate(220px, 140px);
			}
			43% {
				transform: translate(180px, 230px);
			}
			44% {
				transform: translate(-90px, 230px);
			}
			45% {
				transform: translate(-135px, 140px);
			}
			46% {
				transform: translate(-70px, 40px);
			}
			47% {
				transform: translate(175px, 35px);
			}
			48% {
				transform: translate(220px, 140px);
			}
			49% {
				transform: translate(180px, 230px);
			}
			50% {
				transform: translate(-90px, 230px);
			}
			51% {
				transform: translate(-135px, 140px);
			}
			52% {
				transform: translate(-70px, 40px);
			}
			53% {
				transform: translate(175px, 35px);
			}
			54% {
				transform: translate(220px, 140px);
			}
			55% {
				transform: translate(180px, 230px);
			}
			56% {
				transform: translate(-90px, 230px);
			}
			57% {
				transform: translate(-135px, 140px);
			}
			58% {
				transform: translate(-70px, 40px);
			}
			59% {
				transform: translate(175px, 35px);
			}
			60% {
				transform: translate(220px, 140px);
			}
			61% {
				transform: translate(180px, 230px);
			}
			62% {
				transform: translate(-90px, 230px);
			}
			63% {
				transform: translate(-135px, 140px);
			}
			64% {
				transform: translate(-70px, 40px);
			}
			65% {
				transform: translate(175px, 35px);
			}
			66% {
				transform: translate(220px, 140px);
			}
			67% {
				transform: translate(180px, 230px);
			}
			68% {
				transform: translate(-90px, 230px);
			}
			69% {
				transform: translate(-135px, 140px);
			}
			70% {
				transform: translate(-70px, 40px);
			}
			71% {
				transform: translate(175px, 35px);
			}
			72% {
				transform: translate(220px, 140px);
			}
			73% {
				transform: translate(180px, 230px);
			}
			74% {
				transform: translate(-90px, 230px);
			}
			75% {
				transform: translate(-135px, 140px);
			}
			76% {
				transform: translate(-70px, 40px);
			}
			77% {
				transform: translate(175px, 35px);
			}
			78% {
				transform: translate(220px, 140px);
			}
			79% {
				transform: translate(180px, 230px);
			}
			80% {
				transform: translate(-90px, 230px);
			}
			81% {
				transform: translate(-135px, 140px);
			}
			82% {
				transform: translate(-70px, 40px);
			}
			83% {
				transform: translate(175px, 35px);
			}
			84% {
				transform: translate(220px, 140px);
			}
			85% {
				transform: translate(180px, 230px);
			}
			86% {
				transform: translate(-90px, 230px);
			}
			87% {
				transform: translate(-135px, 140px);
			}
			88% {
				transform: translate(-70px, 40px);
			}
			92% {
				transform: translate(48px, 40px);
			}
			97% {
				transform: translate(48px, 40px);
			}
			100% {
				transform: translateX(0px);
			}
		}
	}
	@media screen and (max-width: 479px) {
		@keyframes fastcar {
			4% {
				transform: translate(48px, 28px);
			}
			9% {
				transform: translate(48px, 28px);
			}
			11% {
				transform: translate(130px, 28px);
			}
			12% {
				transform: translate(175px, 100px);
			}
			13% {
				transform: translate(140px, 160px);
			}
			14% {
				transform: translate(-50px, 160px);
			}
			15% {
				transform: translate(-85px, 100px);
			}
			16% {
				transform: translate(-40px, 28px);
			}
			17% {
				transform: translate(130px, 28px);
			}
			18% {
				transform: translate(175px, 100px);
			}
			19% {
				transform: translate(140px, 160px);
			}
			20% {
				transform: translate(-50px, 160px);
			}
			21% {
				transform: translate(-85px, 100px);
			}
			22% {
				transform: translate(-40px, 28px);
			}
			23% {
				transform: translate(130px, 28px);
			}
			24% {
				transform: translate(175px, 100px);
			}
			25% {
				transform: translate(140px, 160px);
			}
			26% {
				transform: translate(-50px, 160px);
			}
			27% {
				transform: translate(-85px, 100px);
			}
			28% {
				transform: translate(-40px, 28px);
			}
			29% {
				transform: translate(130px, 28px);
			}
			30% {
				transform: translate(175px, 100px);
			}
			31% {
				transform: translate(140px, 160px);
			}
			32% {
				transform: translate(-50px, 160px);
			}
			33% {
				transform: translate(-85px, 100px);
			}
			34% {
				transform: translate(-40px, 28px);
			}
			35% {
				transform: translate(130px, 28px);
			}
			36% {
				transform: translate(175px, 100px);
			}
			37% {
				transform: translate(140px, 160px);
			}
			38% {
				transform: translate(-50px, 160px);
			}
			39% {
				transform: translate(-85px, 100px);
			}
			40% {
				transform: translate(-40px, 28px);
			}
			41% {
				transform: translate(130px, 28px);
			}
			42% {
				transform: translate(175px, 100px);
			}
			43% {
				transform: translate(140px, 160px);
			}
			44% {
				transform: translate(-50px, 160px);
			}
			45% {
				transform: translate(-85px, 100px);
			}
			46% {
				transform: translate(-40px, 28px);
			}
			47% {
				transform: translate(130px, 28px);
			}
			48% {
				transform: translate(175px, 100px);
			}
			49% {
				transform: translate(140px, 160px);
			}
			50% {
				transform: translate(-50px, 160px);
			}
			51% {
				transform: translate(-85px, 100px);
			}
			52% {
				transform: translate(-40px, 28px);
			}
			53% {
				transform: translate(130px, 28px);
			}
			54% {
				transform: translate(175px, 100px);
			}
			55% {
				transform: translate(140px, 160px);
			}
			56% {
				transform: translate(-50px, 160px);
			}
			57% {
				transform: translate(-85px, 100px);
			}
			58% {
				transform: translate(-40px, 28px);
			}
			59% {
				transform: translate(130px, 28px);
			}
			60% {
				transform: translate(175px, 100px);
			}
			61% {
				transform: translate(140px, 160px);
			}
			62% {
				transform: translate(-50px, 160px);
			}
			63% {
				transform: translate(-85px, 100px);
			}
			64% {
				transform: translate(-40px, 28px);
			}
			65% {
				transform: translate(130px, 28px);
			}
			66% {
				transform: translate(175px, 100px);
			}
			67% {
				transform: translate(140px, 160px);
			}
			68% {
				transform: translate(-50px, 160px);
			}
			69% {
				transform: translate(-85px, 100px);
			}
			70% {
				transform: translate(-40px, 28px);
			}
			71% {
				transform: translate(130px, 28px);
			}
			72% {
				transform: translate(175px, 100px);
			}
			73% {
				transform: translate(140px, 160px);
			}
			74% {
				transform: translate(-50px, 160px);
			}
			75% {
				transform: translate(-85px, 100px);
			}
			76% {
				transform: translate(-40px, 28px);
			}
			77% {
				transform: translate(130px, 28px);
			}
			78% {
				transform: translate(175px, 100px);
			}
			79% {
				transform: translate(140px, 160px);
			}
			80% {
				transform: translate(-50px, 160px);
			}
			81% {
				transform: translate(-85px, 100px);
			}
			82% {
				transform: translate(-40px, 28px);
			}
			83% {
				transform: translate(130px, 28px);
			}
			84% {
				transform: translate(175px, 100px);
			}
			85% {
				transform: translate(140px, 160px);
			}
			86% {
				transform: translate(-50px, 160px);
			}
			87% {
				transform: translate(-85px, 100px);
			}
			88% {
				transform: translate(-40px, 28px);
			}
			92% {
				transform: translate(48px, 28px);
			}
			97% {
				transform: translate(48px, 28px);
			}
			100% {
				transform: translateX(0px);
			}
		}
	}
}
.slowcar-move {
	animation-name: slowcar;
	animation-duration: 10s;
	animation-timing-function: linear;
	@keyframes slowcar {
		4% {
			transform: translate(-45px, 85px);
		}
		9% {
			transform: translate(-45px, 85px);
		}
		15% {
			transform: translate(100px, 90px);
		}
		23% {
			transform: translate(125px, 170px);
		}
		35% {
			transform: translate(100px, 240px);
		}
		55% {
			transform: translate(-190px, 240px);
		}
		63% {
			transform: translate(-230px, 170px);
		}
		75% {
			transform: translate(-190px, 85px);
		}
		95% {
			transform: translate(-45px, 85px);
		}
		97% {
			transform: translate(-45px, 85px);
		}
		100% {
			transform: translateX(0px);
		}
	}
	@media screen and (min-width: 480px) and (max-width: 620px) {
		@keyframes slowcar {
			4% {
				transform: translate(-45px, 70px);
			}
			9% {
				transform: translate(-45px, 70px);
			}
			15% {
				transform: translate(80px, 70px);
			}
			23% {
				transform: translate(110px, 145px);
			}
			35% {
				transform: translate(70px, 205px);
			}
			55% {
				transform: translate(-165px, 205px);
			}
			63% {
				transform: translate(-195px, 140px);
			}
			75% {
				transform: translate(-165px, 70px);
			}
			95% {
				transform: translate(-45px, 70px);
			}
			97% {
				transform: translate(-45px, 70px);
			}
			100% {
				transform: translateX(0px);
			}
		}
	}
	@media screen and (max-width: 479px) {
		@keyframes slowcar {
			4% {
				transform: translate(-45px, 50px);
			}
			9% {
				transform: translate(-45px, 50px);
			}
			15% {
				transform: translate(50px, 50px);
			}
			23% {
				transform: translate(60px, 100px);
			}
			35% {
				transform: translate(50px, 145px);
			}
			55% {
				transform: translate(-135px, 145px);
			}
			63% {
				transform: translate(-150px, 100px);
			}
			75% {
				transform: translate(-135px, 50px);
			}
			95% {
				transform: translate(-45px, 50px);
			}
			97% {
				transform: translate(-45px, 50px);
			}
			100% {
				transform: translateX(0px);
			}
		}
	}
}


.footer {

	// .footer__container
	&__container {
		margin: 0 auto 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 20px 30px;
		max-width: 1200px;
	}
	// .footer__community
	&__community {
		flex: 1 1 50%;
		padding: 0 15px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	// .footer__title
	&__title {
		font-size: 1.5rem;
		letter-spacing: 1.2px;
		font-weight: 700;
	}
	// .footer__links
	&__links {
		display: flex;
	}
	// .footer__link
	&__link {
		> img {
			height: 20px;
			transition: 0.1s;
		}
		&:not(:last-child) {
			margin: 0 15px 0 0;
		}
		&:hover > img {
			opacity: 0.8;
			transform: scale(1.1);
		}
	}
	// .footer__paragraph
	&__paragraph {
		flex: 1 1 50%;
		padding: 0 15px;
		align-self: center;
		text-align: end;
		font-size: 0.9rem;
		letter-spacing: 1.2px;
		> p {
			> span {
				border-bottom: 2px solid rgb(76, 247, 124);
				&:hover {
					border-bottom: 2px solid rgb(46, 201, 90);
				}
				> a:hover {
					color: rgba(255, 255, 255, 0.823);
				}
			}
		}
		> p:not(:last-child) {
			margin: 0 0 10px;
		}
	}
	@media screen and (max-width: 479px) {
		// .footer__container
		&__container {
			row-gap: 40px;
			padding: 0 15px;
			justify-content: center;
		}
		// .footer__community
		&__community {
			flex: 1 1 100%;
		}
		// .footer__paragraph
	}
}
